/* Fade Animation */
.hidden-section {
    opacity: 1 !important;
    transform: translateY(0) !important;
    display: block !important;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


/* Fix sections visibility */
#skills,
#projects,
#certifications {
    display: block;
    visibility: visible;
    color: white;
}

#skills h2,
#projects h2,
#certifications h2 {
    color: #00ffff;
}

#skills p,
#projects p,
#certifications p,
#skills h3,
#projects h3,
#certifications h3 {
    color: white;
}

.card {
    background: rgba(0, 255, 255, 0.08);
    color: white;
    border: 1px solid cyan;
}
#skills,
#projects,
#certifications {
    background: #111;
    min-height: 300px;
    padding: 50px;
}
